<div ng-include="capacitaciones.menuTemplate.url"></div>
<div class="jumbotron">
	<h1>"Desarrollo de Apps"</h1>
</div>

<div class="row">
  	<br><br>
    <div class="col s12 m6 l3">
    	 <img src="images/tammy2.jpg">
   	</div>
   	<div class="col s12 m6 l8">
   		<p>Nombre Capacitador: Tamara Pueyes Perez</p>
   		<p>Valor: 5 creditos</p>
   		<p>Requisitos: Tener conocimiento en Java, llevar celular con sistema Android</p>
   		<p>Metodología: Presencial</p>
   		<p>Lugar: Caupolican #169, viña del mar</p>
   		<p><a ng-href="/#!/comprar" class="waves-effect waves-light btn-large orange">Comprar</a></p>
</div>

