<div ng-include="comprar.menuTemplate.url"></div>
<h3>Detalle del Pago</h3>
<br>
<div class="row">
  
          <h5>Creditos disponibles: 30</h5>
          <br>
        	<table>
       		 <thead>
          		<tr>
              		<th>Nombre</th>
              		<th>Detalle</th>
              		<th>Precio</th>
         		 </tr>
        	</thead>

        <tbody>
          <tr>
            <td>Desarrollo de Apps</td>
            <td>Eclair</td>
            <td>5 creditos</td>
          </tr>
        </tbody>
      </table>
      <br>
      
</div>
<div class="row">
  <div class="col s12 m4 18">
        
    <a href="#!" class="waves-effect waves-orange orange btn ">Pagar</a> 

    <div class="col s6 m4 40">
      <a class="waves-effect waves-orange orange btn">Cancelar</a>
    </div>
  </div> 
</div>    
