<div ng-include="login.menusTemplate.url"></div>
<!--Parrallax --> 
   
  <div class="section white">
    <div class="row container">
      <h2 class="header">Login</h2>
      <form class="col s12">
      <div class="row">
        <div class="input-field col s4">
          <i class="material-icons prefix">account_circle</i>
          <input id="usuario" type="text" class="validate">
          <label for="usuario">Usuario</label>
        </div>
        <div class="input-field col s4">
          <i class="material-icons prefix">vpn_key</i>
          <input id="contraseña" type="password" class="validate">
          <label for="contraseña">Contraseña</label>
        </div>
     </div>
     <a class="waves-effect waves-red orange btn" ng-href="/#!/principal"><i class="material-icons left">input</i>Ingresar</a>
     <a class="waves-effect waves-yellow  orange btn" ng-href="/#!/registrarse"><i class="material-icons left">mode_edit</i>Registrarse</a>
    </form>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="images/8.jpg"></div>
  </div>
 <!--Fin parallax --> 


