<div ng-include="main.menusTemplate.url"></div>
<!--Parrallax --> 
   <div class="parallax-container">
    <div class="parallax"><img src="images/Recurso.png"></div>
  </div>
  <div class="section blue-grey darken-4">
  	<div class="row container">

  		<a name="quienessomos" id="quienessomos"></a>
  		<h2 class="header white-text">MISIÓN</h2>
  		
  		<p class="white-text text-darken-3 lighten-3" style="text-align: justify;">Potenciar a los emprendedores que no tienen acceso a capacitaciones mediante la adquisición de conocimiento y competencias nuevas a través de capacitaciones otorgadas entre emprendedores.</p>
  		<h2 class="header white-text">OBJETIVOS</h2>
  		
  		<p class="white-text text-darken-3 lighten-3" style="text-align: justify;">•	Potenciar el desarrollo de las ideas de los emprendedores, entregadas por los mismos usuarios emprendedores expertos en el área a capacitar. <br>•	Generar comunicación y aportes de conocimientos entre emprendedores, permitiéndole a los emprendedores expertos en sus áreas otorgar capacitaciones de acuerdo a sus conocimientos y así fortalecer a otro emprendedor permitiendo de esta manera generar un lazo entre emprendedores.<br>• Motivar al emprendedor en cuanto a ideas nuevas en otras áreas no trabajadas, ofreciéndole a cada emprendedor potenciar su conocimiento tomando capacitaciones (online o presencial) dictadas por otro emprendedor.<br>
•	Mantener al emprendedor informado, ofreciéndole capacitaciones según su área de interés.<br>
•	Generar oportunidades de capacitación en las áreas que desee bajo su perfil, el cual contará con un perfil informativo de cada usuario emprendedor permitiendo así conocer sus áreas de interés y expertiz.<br>
</p>
  	</div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="images/4.jpg"></div>
  </div>
 <!--Fin parallax --> 


