 <!--Menu sin login --> 
<ul id="dropdown1" class="dropdown-content">
    <li><a ng-href="/#!/login">Inciar Sesión</a></li>
    <li><a ng-href="/#!/registrarse">Registrarse</a></li>
    
  </ul>
    <nav>
    <div class="nav-wrapper blue-grey darken-4">
      
      <ul class="left hide-on-med-and-down">
        <li><a ng-href="#!/main">Inicio</a></li>
        <li><a ng-href="#quienessomos" data-ancla="quienessomos">quienes somos</a></li>
        <li><a ng-href="#!/contacto">Contacto</a></li>
      </ul>
      <ul class="right hide-on-med-and-down">
      <li><a class="dropdown-button"  data-activates="dropdown1">Bienvenido<i class="material-icons right">account_circle</i></a></li>
      </ul>
    </div>
  </nav>
   <!--fin MENU --> 
 