<ul id="dropdown2" class="dropdown-content">
    <li><a ng-href="/#!/">Mi Perfil</a></li>
    
    <li class="divider"></li>
    <li><a ng-href="/#!/main">Log out</a></li>
  </ul>
    <nav>
    <div class="nav-wrapper black">
      
      <ul class="left hide-on-med-and-down" >
        <li><a ng-href="/#!/principal">Inicio</a></li>
        <li><a ng-href="/#!/micapacitacion">Mis Capacitaciones</a></li>
        <li><a ng-href="/#!/sercapacitador">Hazte Capacitador</a></li>
      </ul>
         <!-- Dropdown Trigger -->
      <ul class="right hide-on-med-and-down">
      <li><a class="dropdown-button" data-activates="dropdown2">tamara<i class="material-icons right">account_circle</i></a></li>
      </ul>
    </div>
  </nav>
  
   <!--fin MENU --> 
