<div ng-include="micapacitacion.menuTemplate.url"></div>
<h3>&nbsp;Felicidades! te has capacitado en:</h3>
<br>
<div class="container">
<ul class="collection">
      <li class="collection-item">Curso de Desarrollo de apps</li>
      <li class="collection-item">Curso de Analítica de Datos </li>
      <li class="collection-item">Curso de Comercio Electrónico</li>
      
    </ul>
</div>
<br>
<h8>&nbsp;Te Invitamos a ser parte del equipo de capacitadores! Solo debes seleccionar en nuestro menú "Hazte capacitador" y podrás potenciar el conocimiento de otro emprendedor<h8>
<br><br><br><br>
<div class="parallax-container">
    <div class="parallax"><img src="images/9.jpg"></div>
  </div>