<div ng-include="principal.menuTemplate.url"></div>

  <div class="slider">
    <ul class="slides">
      <li>
        <img src="images/fondo.jpg"> <!-- random image -->
        <div class="caption left-align black-text">
          <h3></h3>
          <h5 class="light grey-text text-lighten-3"></h5>
        </div>

      </li>
      <li>
        <img src="images/1.jpg"> <!-- random image -->
        <div class="caption left-align">
          <h3>Competitividad para</h3>
          <h5 class="light grey-text text-lighten-3"></h5>
        </div>
      </li>
      <li>
        <img src="images/3.jpg"> <!-- random image -->
        <div class="caption right-align">
          <h3>Comparte tus conocimientos</h3>
          <h5 class="light grey-text text-lighten-3"></h5>
        </div>
      </li>
      <li>
        <img src="images/2.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3>Ayuda a tus pares</h3>
          <h5 class="light grey-text text-lighten-3">te lo agradecerán</h5>
        </div>
      </li>
    </ul>
  </div>
 <div class="jumbotron">
  <h5>Bienvenido! Ingresa algún área de interés en el que deseas capacitarte</h5><br>
</div>

<div class="container" style="width: 300px; height: 50px;">

   <select multiple>
      <option value="" disabled selected>Seleccionar Area de interés</option>
      <option value="1">Area Científico-Técnológica</option>
      <option value="2">Area Digital</option>
      <option value="3">Area Creativa</option>
      <option value="4">Area Consultoría</option>
      <option value="5">Area Gastronomía</option>
      <option value="6">Area Comercial</option>
      <option value="7">Area Social</option>
      <option value="1">Area Agronegocios</option>
    </select>
    <div class="container">
    <a class="waves-effect waves-light orange btn" ng-href="/capacitaciones">Buscar<i class="material-icons">search</i></a>
    </div>
    
</div>
  
 
<br><br><br>

<!--sugerencia capacitaciones -->
<div>
 <h5>Te sugerimos las siguientes capacitaciones</h5><br>
</div>


<div class="row">
  
        <div class="col s12 m6 l3">
          <div class="card">
            <div class="card-image">
              <img src="images/tammy.jpg">
              <span class="card-title black">Herramientas empresariales</span>
            </div>
            <div class="card-content">
              <p>Curso a través del cual se entregarán conocimientos que permitan fortalecer el negocio o emprendimiento creativo, otorgando la oportunidad de aprender cómo organizar un negocio que refleje los valores creativos del emprendedor, sistematizados dentro de una estrategia de negocio sostenible, mientras comparten </p>
            </div>
            <div class="card-action">
              <a ng-href="/#!/capacitaciones">Ver</a>
            </div>
          </div>
       
       </div>
  
        <div class="col s12 m6 l3">
          <div class="card">
            <div class="card-image">
              <img src="images/mauricio.jpg">
              <span class="card-title black">Programadores de Software         </span>
            </div>
            <div class="card-content">
              <p>Curso de formación de 8 meses, destinado a generar las capacidades para la programación en lenguaje JAVA, por medio de una metodología de aprendizaje activa, fuertemente ligada a la industria TIC de la región y al mundo laboral; a la vez, desarrollar las competencias personales para una efectiva inserción al mundo del trabajo.</p>
            </div>
            <div class="card-action">
              <a href="/ver_capacitacion">Ver</a>
            </div>
          </div>
        </div>
      
      <div class="col s12 m6 l3">
          <div class="card">
            <div class="card-image">
              <img src="images/diego.jpg">
              <span class="card-title black">Inocuidad Alimnentaria</span>
            </div>
            <div class="card-content">
              <p>Curso de actualización de normativas y reglamentos de Inocuidad Alimentaria, (HACCP, BRC, Food Safety Modification Act FDA, entre otros) con una duración de 43 horas presenciales. Los módulos a desarrollar serán los siguientes: Introducción a los conceptos de inocuidad y calidad de los alimentos, Normativas nacionales</p>
            </div>
            <div class="card-action">
              <a href="/ver_capacitacion">Ver</a>
            </div>
          </div>
        </div>

        <div class="col s12 m6 l3">
          <div class="card">
            <div class="card-image">
              <img src="images/seba.jpg">
              <span class="card-title black">Especialización en Esquila</span>
            </div>
            <div class="card-content">
              <p>Curso de especialización en esquila, enfocado en la mano de obra que se desempeña trabajando o que eventualmente pudiera comenzar a trabajar en las cuadrillas de esquila y en los predios dedicados a la producción ovina. El curso tiene como objetivo central la enseñanza de la correcta técnica de esquila “tally hi”, que permita</p>
            </div>
            <div class="card-action">
              <a href="/ver_capacitacion">Ver</a>
            </div>
          </div>
        </div>
</div>
<br><br>
  <div class="jumbotron">
          <h5>Ayudanos a incrementar la población de emprendedores en la región de Valparaíso!</h5>
          <br>
         <iframe src="https://www.google.com/maps/d/embed?mid=10R3MBm5Af7K97xA31PK16Qy5QOg&hl=es" width="640" height="480"></iframe>
  </div>
<!--FIN sugerencia capacitaciones -->
<br><br>